html, body, #app, pre, iframe, midi-player {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

iframe {
  border: none;
  background-color: gray;
}

#app {
  display: grid;
  grid-template-rows: 3em 1fr;

  #panel {
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: lightgray;

    #url {
      height: 1em;
      margin-left: 1em;
      align-self: center;
    }

    button {
      min-width: 7em;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }

  #display {
    display: grid;
    grid-template-columns: 1fr 1fr;

    $console-height: 250px;

    > .left {
      display: grid;
      grid-template-rows: auto 1fr $console-height;
    }

    audio {
      width: 100%;
    }

    #editor {
      max-height: 70vh;
    }

    #console {
      padding: 1em;
      background-color: lightgray;
      border: 1px solid gray;
      overflow: scroll;
      height: $console-height;

      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */

      ::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
      }
    }
  }
}
